{% extends 'base.html.twig' %}

{% block body %}
    <h1>Upload file</h1>

    <form action="{{ path('api_v1_image_upload') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <button type="submit">ok</button>
    </form>
{% endblock %}
